.navbar-theme  {
	background-color: #266dbf;
	/*height: 50px;*/
}

.text-blue-facebook {
	color: #266dbf;
}

#form-seach {
	width: 30%;
}

#profile {
	width: 70%
}

.content-theme {
	background-color: #dddddd;
}

.border-orange {
	width: 100px;
	border-color: #cc8408 !important;
}

.border-orange.active {
	color: white;
	/*background-color: linear-gradient(45deg, #f9cb7a, #f4a418, #c17b01);*/
	background-color: #f4a418;
}

.feeds-page #feeds-discovery .active,
.feeds-album-page #feeds-discovery .active,
.discovery-page #feeds-discovery .active {
	color: #266dbf;
	font-weight: bold;
}

.feeds-page #modes .active,
.feeds-album-page #modes .active,
.discovery-page #modes .active {
	color: white;
	background-color: #266dbf;
}

.feeds-album-page .image-stacked {
	position: absolute;
	top: 0px;
	left: 0px;
	max-height: 100%;
}

.feeds-album-page .image-stacked:nth-child(1) {
	transform: rotate(10deg)
}
.feeds-album-page .image-stacked:nth-child(2) {
	transform: rotate(5deg)
}