.navbar-theme  {
	background-color: #266dbf;
	/*height: 50px;*/
}

.text-blue-facebook {
	color: #266dbf;
}

#form-seach {
	width: 30%;
}

#profile {
	width: 70%
}

.content-theme {
	background-color: #dddddd;
}

.border-orange {
	width: 110px;
	border: 3px solid #cc8408;
}

.border-orange.active {
	color: white;
	/*background-color: linear-gradient(45deg, #f9cb7a, #f4a418, #c17b01);*/
	background-color: #f4a418;
}

#feeds-discovery .active,
.profile .stats .active {
	color: #266dbf;
	font-weight: bold;
}

#modes .active {
	color: white;
	background-color: #266dbf;
}

.image-stacked {
	position: absolute;
	top: 0px;
	left: 0px;
	max-height: 100%;
}

.image-stacked:nth-child(1) {
	transform: rotate(8deg)
}

.image-stacked:nth-child(2) {
	transform: rotate(5deg)
}

.image-stacked:last-child {
	position: relative;
}

.profile span {
	font-size: 25px;
}

.profile small {
	font-size: 14px;
}

.profile {
	padding-left: 30px;
	padding-top: 50px;
}

.edit-profile-btn {
	border: 3px solid #266dbf;
	color: #266dbf;
	width: 150px;
}

.add-photo-div {
	height: 40px;
}

.private-icon {
	width: 32px;
	height: 32px;
	background-color: white;
	border-radius: 50%;
	left: 85%;
	top: 5px;
}

.public-profile-tab-photos-page .img,
.my-profile-tab-photos-page .img {
	max-height: 300px;
	max-width: 300px;
	height: 100%;
	width: 100%;
}

.public-profile-tab-photos-page .album-description {
	width: 110px;
	height: 110px;
	background-color: rgba(79,80,84,0.6);
	border-radius: 50%;
	top: 30%;
	left: 35%;
	color: white;
}

.public-profile-tab-photos-page .album-description h5 {
	font-size: 25px;
	font-weight: bold;
}

.public-profile-tab-photos-page .album-description small {
	font-size: 15px;
}

.public-profile-tab-follower-page .card h5 {
	color: #266dbf;
	font-weight: bold;
}

.public-profile-tab-follower-page .card small {
	color: #266dbf;
}
