<div class="list-group" id="feeds-discovery">
  <a href="#" class="list-group-item list-group-item-action bg-transparent border-0">Manage Photos</a>
  <a href="#" class="list-group-item list-group-item-action bg-transparent border-0 active">Manage Albums</a>
  <a href="#" class="list-group-item list-group-item-action bg-transparent border-0">Manage Users</a>
</div>