<div class="w-100 text-center">
  <div class="pt-2 btn-group" role="group" id="modes">
    <button type="button" class="btn text-blue-facebook border border-secondary fw-bold active">PHOTO</button>
    <button type="button" class="btn text-blue-facebook border border-secondary fw-bold">ALBUM</button>
  </div>
</div>