<div class="list-group" id="user-sidebar">
  <%= link_to 'Feeds', '#', class: 'list-group-item sidebar bg-transparent border-0' %>
  <%= link_to 'Discovery', '#', class: 'list-group-item sidebar bg-transparent border-0 active' %>
</div>