<div class="col-2 text-center">
  <%= render "/shared/user-sidebar" %>
</div>
<div class="col-8 bg-white">
  <div class="photo-new-page" id="photo-new-page">
    <%= render 'form', form_title: "New Photo", photo: @photo %>
  </div>
</div>
<div class="col-2"></div>

<%= javascript_pack_tag 'upload-image-form.js' %>